In [1]:
import pandas as pd
import altair as alt

In [2]:
pd.set_option('display.max_columns', None)

## Read in summary of all grades

In [24]:
grades = pd.read_csv("all-grades-complete.csv")

In [25]:
def cleanup(x):
    season = x.split()[0]
    year = x.split()[-1]
    
    final = f"{year}-{season}"
    return final

Simplify semster column

In [36]:
grades["school_year"] = grades["Semester School Year"].apply(cleanup)

Clean up values that have commas, spaces and symbols

In [37]:
grades_clean = grades.applymap(lambda x:x.replace(",","").replace("%","").replace("‐","").replace(" ","") if type(x)==str  else x)

In [38]:
grades_clean_cols = [x.replace("'","") for x in grades_clean.columns]

In [39]:
grades_clean.columns = grades_clean_cols

Get columns that are numeric

In [40]:
grades_no_col_list = [s for s in grades_clean.columns.to_list() if s not in ["Grades","Semester School Year","school_year"]]

Change data type

In [41]:
grades_clean[grades_no_col_list] = grades_clean[grades_no_col_list].apply(pd.to_numeric, errors="coerce")

## Trim out fall semester only

In [43]:
fall_only = grades_clean[grades_clean.school_year.str.contains("FALL")].sort_values("school_year")

In [109]:
fall_only_clean = fall_only[['Grades', 'Semester School Year', '# of As', '# of Bs', '# of Cs',
       '# of Ds', '# of Fs','Total Marks','school_year']].copy()

Groupby school year and sum

In [111]:
fall_combined = fall_only_clean.groupby("school_year").sum().reset_index()

In [112]:
fall_combined

      school_year  # of As  # of Bs  # of Cs  # of Ds   # of Fs  Total Marks
0  2018-2019-FALL   523006   383747   319368   157246  156838.0      1651223
1  2019-2020-FALL   527677   380665   313048   153262  146598.0      1621174
2  2020-2021-FALL   517985   270268   257781   236095  154518.0      1661071

Sum up letter grades

In [79]:
fall_combined["total_letter_grades"] = fall_combined[['# of As', '# of Bs', '# of Cs',
       '# of Ds', '# of Fs']].sum(axis=1)

In [167]:
def create_pct(df):
    cols = ["A","B","C","D","F"]
    for c in cols:
        df[f"{c}%"] = df[f"# of {c}s"]/df.total_letter_grades *100
        
    return df

In [81]:
fall_combined_pct = create_pct(fall_combined)

In [82]:
fall_combined_pct

,school_year,# of As,# of Bs,# of Cs,# of Ds,# of Fs,Total Marks,total_letter_grades,A%,B%,C%,D%,F%
0,2018-2019-FALL,523006,383747,319368,157246,156838.0,1651223,1540205.0,33.956908,24.915320,20.735422,10.209420,10.18293
1,2019-2020-FALL,527677,380665,313048,153262,146598.0,1621174,1521250.0,34.687067,25.023172,20.578340,10.074741,9.63668
2,2020-2021-FALL,517985,270268,257781,236095,154518.0,1661071,1436647.0,36.055134,18.812415,17.943239,16.433752,10.75546

Prep for chart

In [95]:
fall_only_chart = fall_combined_pct.melt(id_vars=["school_year"], value_vars=fall_combined_pct.columns[8:])

In [98]:
alt.Chart(fall_only_chart).mark_bar().encode(
    x='school_year',
    y='value',
    color='variable',  
).properties(
    title='Grades breakdown for Fall semesters',
    width=400,
    height=300
)

alt.Chart(...)

In [100]:
fall_combined_pct.to_csv("combined.csv",index=False)

## High school

In [117]:
hs_grades = pd.read_csv("grades9-12-complete.csv")

In [126]:
hs_grades["school_year"] = hs_grades["Semester School Year"].apply(cleanup)

In [119]:
hs_grades_clean = hs_grades.applymap(lambda x:x.replace("%","").replace(",","").replace(" ","") if type(x)==str else x)

In [120]:
hs_grades_clean.columns = [x.replace("'","") for x in hs_grades_clean.columns.to_list()]

In [121]:
hs_no_col_list = hs_grades_clean.columns.to_list()

In [123]:
hs_no_col_list = [ s for s in hs_no_col_list if s not in ["type","groupname","Semester School Year","school_year"]]

In [124]:
hs_grades_clean[hs_no_col_list] =hs_grades_clean[hs_no_col_list].apply(pd.to_numeric, errors="coerce")

Fall semester only

In [128]:
hs_fall_only = hs_grades_clean[hs_grades_clean.school_year.str.contains("FALL")].sort_values("school_year").copy()

## Middle School

In [129]:
middle = pd.read_csv("grades6-8-complete.csv")

In [131]:
middle["school_year"] = middle["Semester School Year"].apply(cleanup)

In [132]:
ms_grades_clean = middle.applymap(lambda x:x.replace("%","").replace("‐","").replace(",","").replace(" ","") if type(x)==str else x)

In [133]:
ms_grades_clean.columns = [x.replace("'","") for x in ms_grades_clean.columns.to_list()]

In [134]:
ms_no_col_list = ms_grades_clean.columns.to_list()

In [136]:
ms_no_col_list = [ s for s in ms_no_col_list if s not in ["type","groupname","Semester School Year","school_year"]]

In [138]:
ms_grades_clean[ms_no_col_list]= ms_grades_clean[ms_no_col_list].apply(pd.to_numeric, errors="coerce")

fall only

In [140]:
ms_fall_only = ms_grades_clean[ms_grades_clean.school_year.str.contains("FALL")].sort_values("school_year").copy()

## COMBINE ALL

In [148]:
combined_cols = ['type','groupname', 'Semester School Year', '# of As', '# of Bs',
       '# of Cs', '# of Ds', '# of Fs','school_year']

In [177]:
hs_ms_fall = pd.concat([ms_fall_only[combined_cols],hs_fall_only[combined_cols]])

In [178]:
hs_ms_fall.type.value_counts()

ethnicity    54
group        18
Name: type, dtype: int64

In [179]:
hs_ms_fall_combined= hs_ms_fall.groupby(["type","groupname","school_year"]).sum().reset_index()

In [180]:
hs_ms_fall_combined["total_letter_grades"] = hs_ms_fall_combined[['# of As', '# of Bs', '# of Cs',
       '# of Ds', '# of Fs']].sum(axis=1)

Combine Asian / Filipino

In [181]:
asian_filipino = hs_ms_fall_combined[hs_ms_fall_combined.groupname.isin(["ASIAN","FILIPINO"])].groupby("school_year").sum().reset_index()

In [182]:
asian_filipino["groupname"] = "Asian/Filipino"

In [183]:
asian_filipino["type"] = "ethnicity"

In [184]:
hs_ms_fall_grouped = hs_ms_fall_combined.append(asian_filipino)

In [192]:
hs_ms_fall_grouped_pct = create_pct(hs_ms_fall_grouped)

In [193]:
hs_ms_fall_grouped_pct["A-C%"] = hs_ms_fall_grouped_pct[['A%', 'B%', 'C%']].sum(axis=1)

In [194]:
hs_ms_fall_grouped_pct["groupname"] = hs_ms_fall_grouped_pct["groupname"].apply(lambda x: x.lower())

## Calculate changes

In [196]:
hs_ms_fall_grouped_pct.reset_index(drop=True, inplace=True)

In [197]:
hs_ms_fall_grouped_pct["A-C%_pt_change"] = hs_ms_fall_grouped_pct.groupby(["groupname","type"])["A-C%"].diff()

Which group had large changes?

In [200]:
hs_ms_fall_grouped_pct.sort_values("A-C%_pt_change").head(10)

,type,groupname,school_year,# of As,# of Bs,# of Cs,# of Ds,# of Fs,total_letter_grades,A%,B%,C%,D%,F%,A-C%,A-C%_pt_change
20,ethnicity,pacificislander,2020-2021-FALL,533,232,267,276,167.0,1475.0,36.135593,15.728814,18.101695,18.711864,11.322034,69.966102,-13.537142
29,group,englishlearners,2020-2021-FALL,38734,30388,39331,44163,32203.0,184819.0,20.957802,16.442032,21.280821,23.895271,17.424074,58.680655,-11.403705
32,group,fostercareyouth,2020-2021-FALL,3959,2907,3914,4799,3581.0,19160.0,20.662839,15.172234,20.427975,25.046973,18.689979,56.263048,-9.524130
14,ethnicity,hispanic,2020-2021-FALL,349113,204190,205734,193676,132810.0,1085523.0,32.160811,18.810288,18.952523,17.841722,12.234656,69.923622,-8.656708
35,group,socioeconomicallydisadvantaged,2020-2021-FALL,416042,233811,234241,218051,145335.0,1247480.0,33.350595,18.742665,18.777135,17.479318,11.650287,70.870395,-8.204078
2,ethnicity,americanindian/alaskanative,2020-2021-FALL,663,392,358,319,198.0,1930.0,34.352332,20.310881,18.549223,16.528497,10.259067,73.212435,-6.978769
23,ethnicity,twoormore,2020-2021-FALL,1672,811,632,632,269.0,4016.0,41.633466,20.194223,15.737052,15.737052,6.698207,77.564741,-5.950131
17,ethnicity,other,2020-2021-FALL,13258,4702,3300,2782,1427.0,25469.0,52.055440,18.461659,12.956928,10.923083,5.602890,83.474027,-5.406337
8,ethnicity,black,2020-2021-FALL,33347,21402,22897,20141,10497.0,108284.0,30.795870,19.764693,21.145322,18.600163,9.693953,71.705885,-4.270037
26,ethnicity,white,2020-2021-FALL,67194,24264,16366,12615,6472.0,126911.0,52.945765,19.118910,12.895651,9.940037,5.099637,84.960327,-3.793784

In [223]:
hs_ms_fall_grouped_pct[['A%', 'B%', 'C%',
       'D%', 'F%']].sum(axis=1)

0     100.0
1     100.0
2     100.0
3     100.0
4     100.0
5     100.0
6     100.0
7     100.0
8     100.0
9     100.0
10    100.0
11    100.0
12    100.0
13    100.0
14    100.0
15    100.0
16    100.0
17    100.0
18    100.0
19    100.0
20    100.0
21    100.0
22    100.0
23    100.0
24    100.0
25    100.0
26    100.0
27    100.0
28    100.0
29    100.0
30    100.0
31    100.0
32    100.0
33    100.0
34    100.0
35    100.0
36    100.0
37    100.0
38    100.0
dtype: float64

## pivot for chart

In [207]:
hs_ms_fall_trim = hs_ms_fall_grouped_pct[(hs_ms_fall_grouped_pct.type == "ethnicity")&(hs_ms_fall_grouped_pct.school_year.isin(["2019-2020-FALL","2020-2021-FALL",]))][['groupname','school_year','A-C%']].copy()

In [210]:
hs_ms_fall_final = hs_ms_fall_trim[~hs_ms_fall_trim.groupname.isin(["asian","filipino"])].copy()

In [211]:
hs_ms_fall_final["school_year"] = hs_ms_fall_final["school_year"].apply(lambda x: x.split("-")[0])

In [214]:
hs_ms_fall_final_chart = hs_ms_fall_final.pivot(index='groupname',columns='school_year').reset_index()

In [215]:
hs_ms_fall_final_chart

                               groupname       A-C%
school_year                                    2019       2020
0            americanindian/alaskanative  80.191205  73.212435
1                         asian/filipino  93.232183  89.966160
2                                  black  75.975922  71.705885
3                               hispanic  78.580330  69.923622
4                                  other  88.880364  83.474027
5                        pacificislander  83.503244  69.966102
6                              twoormore  83.514872  77.564741
7                                  white  88.754111  84.960327

In [217]:
hs_ms_fall_final_chart.to_csv("combined-detail.csv",index=False)