In [47]:
import pandas as pd

In [48]:
dibels_raw = pd.read_csv("dibels.csv", thousands=',')

In [49]:
dibels_raw.columns = [ c.replace("\r","") for c in dibels_raw.columns.tolist()]

In [50]:
dibels_raw.SchoolYear.value_counts()

2018-19    54
2019-20    36
2020-21    36
Name: SchoolYear, dtype: int64

In [51]:
dibels_raw.DIBELSTestAdministration.value_counts()

1 BOY    54
2 MOY    54
3 EOY    18
Name: DIBELSTestAdministration, dtype: int64

In [96]:
dibels_trim= dibels_raw[(dibels_raw.SchoolYear != "2018-19")&(dibels_raw.DIBELSTestAdministration == '2 MOY')].copy()

In [97]:
dibels_trim.columns

Index(['SchoolYear', 'DIBELSTestAdministration', 'Student Group',
       'ABOVEBENCHMARK', 'BENCHMARK', 'BELOWBENCHMARK', 'WELLBELOWBENCHMARK',
       'Total Tested', '% ABOVEBENCHMARK', '%BENCHMARK', '% BELOWBENCHMARK',
       '% WELLBELOWBENCHMARK'],
      dtype='object')

In [98]:
dibels_trim["Student Group"].value_counts()

All                               2
African American                  2
Grade K                           2
Grade 5                           2
Grade 4                           2
Grade 3                           2
Grade 2                           2
Grade 1                           2
English Learner                   2
White                             2
Two or More (Ethnicity)           2
Pacific Islander                  2
Other (Ethnicity)                 2
Hispanic                          2
Filipino                          2
Asian                             2
American Indian /Alaska Native    2
Grade TK                          2
Name: Student Group, dtype: int64

In [99]:
a_f = dibels_trim[dibels_trim["Student Group"].isin(["Asian", "Filipino"])]

In [105]:
af = a_f.groupby("SchoolYear").sum().reset_index()

In [106]:
af["Student Group"] = "asian/filipino"

In [107]:
af

,SchoolYear,ABOVEBENCHMARK,BENCHMARK,BELOWBENCHMARK,WELLBELOWBENCHMARK,Total Tested,Student Group
0,2019-20,5214,3120,1095,1176,10605,asian/filipino
1,2020-21,5172,2894,997,1269,10332,asian/filipino

In [110]:
dibels_trim = pd.concat([dibels_trim,af])

In [111]:
dibels_trim["met_or_above"] = dibels_trim[['ABOVEBENCHMARK', 'BENCHMARK']].sum(axis=1)

In [112]:
dibels_trim["below_benchmark"] = dibels_trim[['BELOWBENCHMARK', 'WELLBELOWBENCHMARK']].sum(axis=1)

In [113]:
dibels_trim["met_or_above_pct"] = dibels_trim["met_or_above"]/dibels_trim['Total Tested']*100

In [114]:
dibels_trim["below_benchmark_pct"] = dibels_trim["below_benchmark"]/dibels_trim['Total Tested']*100

In [115]:
dibels_trim["met_or_above_change"] = dibels_trim.sort_values("SchoolYear").groupby(["Student Group"])["met_or_above_pct"].diff()

In [116]:
dibels_trim["below_benchmark_change"] = dibels_trim.sort_values("SchoolYear").groupby(["Student Group"])["below_benchmark_pct"].diff()

In [117]:
dibels_trim.SchoolYear.value_counts()

2019-20    19
2020-21    19
Name: SchoolYear, dtype: int64

In [118]:
dibels_trim[["SchoolYear","Student Group","below_benchmark_change"]].sort_values("below_benchmark_change")

    SchoolYear                   Student Group  below_benchmark_change
104    2020-21                         Grade 4              -11.709641
27     2020-21                           Asian               -0.441302
1      2020-21                  asian/filipino                0.517435
69     2020-21                           White                2.226089
111    2020-21                         Grade 5                2.313853
59     2020-21         Two or More (Ethnicity)                2.503888
34     2020-21                        Filipino                2.584508
97     2020-21                         Grade 3                4.596181
76     2020-21                 English Learner                5.498237
45     2020-21               Other (Ethnicity)                5.760359
13     2020-21                African American                5.810471
6      2020-21                             All                6.663193
20     2020-21  American Indian /Alaska Native                6.959528
41     2020-21                        Hispanic                8.079553
52     2020-21                Pacific Islander                8.353536
125    2020-21                        Grade TK                9.395356
90     2020-21                         Grade 2               11.013331
83     2020-21                         Grade 1               17.005453
118    2020-21                         Grade K               18.425754
4      2019-20                             All                     NaN
11     2019-20                African American                     NaN
18     2019-20  American Indian /Alaska Native                     NaN
25     2019-20                           Asian                     NaN
32     2019-20                        Filipino                     NaN
39     2019-20                        Hispanic                     NaN
43     2019-20               Other (Ethnicity)                     NaN
50     2019-20                Pacific Islander                     NaN
57     2019-20         Two or More (Ethnicity)                     NaN
67     2019-20                           White                     NaN
74     2019-20                 English Learner                     NaN
81     2019-20                         Grade 1                     NaN
88     2019-20                         Grade 2                     NaN
95     2019-20                         Grade 3                     NaN
102    2019-20                         Grade 4                     NaN
109    2019-20                         Grade 5                     NaN
116    2019-20                         Grade K                     NaN
123    2019-20                        Grade TK                     NaN
0      2019-20                  asian/filipino                     NaN

In [119]:
dibels_trim.to_csv("dibels-change.csv",index=False)

Pivot for chart

In [123]:
dibels_trim.head(1)

,SchoolYear,DIBELSTestAdministration,Student Group,ABOVEBENCHMARK,BENCHMARK,BELOWBENCHMARK,WELLBELOWBENCHMARK,Total Tested,% ABOVEBENCHMARK,%BENCHMARK,% BELOWBENCHMARK,% WELLBELOWBENCHMARK,met_or_above,below_benchmark,met_or_above_pct,below_benchmark_pct,met_or_above_change,below_benchmark_change
4,2019-20,2 MOY,All,58327,62341,37760,59027,217455,27%,29%,17%,27%,120668,96787,55.491021,44.508979,NaN,NaN

In [127]:
dibels_chart = dibels_trim[["SchoolYear","Student Group","met_or_above_pct"]].pivot(index='Student Group', columns='SchoolYear').reset_index()

In [128]:
dibels_chart.to_csv("dibels_chart.csv",index=False)